.header {
  padding: 0px 10px;
  margin: 5px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 24px 1px rgba(0, 0, 0, 0.55);
}
.page-title {
  font-size: 1.2rem;
}
